{% if messages %}
    {% for message in messages %}
        <div id="message" class="container">
            <div class="alert alert-{{message.tags}} alert-dismissible text-center" rol="alert">
                <button class="close" type="button" data-dismiss="alert">
                    <span aria-hidden="trie">&times;</span>
                </button>
                <strong>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        Uh Oh:
                    {%else%}
                        {{message.tags | title}}
                    {%endif%}
                </strong>
                {{message}}
        </div>
    {% endfor %}
{%endif%}
